[submodule "qmltermwidget"]
	path = qmltermwidget
	url = https://github.com:Richard-Wai/qmltermwidget.git
	branch = master
[submodule "KDSingleApplication"]
	path = KDSingleApplication
	url = https://github.com/KDAB/KDSingleApplication.git
